<div class="col-12 col-xl-8">
    <div class="card card-body border-0 shadow mb-4">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6 mb-3">
                <div>
                    <label for="first_name">{%trans%}Nom{%endtrans%} </label>
                    {{form_widget(form.first_name )}}
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div>
                    <label for="first_name">{%trans%}Prénom{%endtrans%}</label>
                    {{form_widget(form.last_name )}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div>
                    <label for="first_name">{%trans%}Email{%endtrans%} </label>
                    {{form_widget(form.email )}}
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div>
                    <label for="first_name">{%trans%}Téléphone{%endtrans%}</label>
                    {{form_widget(form.phone )}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div>
                    <label for="first_name">{%trans%}Rôles d'utilisateur{%endtrans%} </label>
                    {{form_widget(form.roles )}}
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div>
                    <label for="first_name">{%trans%}Image{%endtrans%}</label>
                    {{form_widget(form.image )}}
                </div>
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-gray-800 mt-2 me-5 animate-up-2" type="submit">
                <i class='bx bx-save me-1'></i>
                {{ button_label|default('Mettre à jour') }}
            </button>
            <a href="{{ path('utilisateurs') }} " class="btn btn-gray-800 mt-2 animate-up-2">
                <i class='bx bx-arrow-back me-1'></i> {%trans%}Retour à la liste{%endtrans%}
            </a>

        </div>
        {{ form_end(form) }}
    </div>
</div>

