{% extends 'admin/admin.base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <main class="content">

        {% include 'admin/layouts/admin.menu.html.twig' %}

        {{include('admin/layouts/navbar.html.twig')}}

        <div class="py-4">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Utilisateur</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ajout</li>
                </ol>
            </nav>

            <div class="d-flex justify-content-between w-100 flex-wrap">
                <div class="mb-3 mb-lg-0">
                    <h1 class="h4"> Utilisateurs </h1>
                </div>
                <div>
                    <a href="{{path('new_user')}}" class="btn btn-outline-gray-600 d-inline-flex align-items-center">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
                        Ajouter un utilisateur
                    </a>
                </div>
            </div>
        </div>

        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded" id="myTable">
                        <thead class="thead-light">
                        <tr>
                            <th class="border-0 rounded-start">#</th>
                            <th class="border-0">Nom</th>
                            <th class="border-0">Prenom</th>
                            <th class="border-0">Email</th>
                            <th class="border-0">Téléphone</th>
                            <th class="border-0">Role</th>
                            <th class="border-0">Avatar</th>
                            <th class="border-0">Actions</th>
                        </tr>
                        </thead>
                        <tbody>

                        {# On boucle sur les utilisateurs #}
                        {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.firstName }}</td>
                                <td>{{ user.lastName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                                <td>
                                    {# On boucle sur les rôles #}
                                    {% for role in user.roles %}
                                        {% if role == "ROLE_USER" %}
                                            Utilisateur
                                        {% elseif role == "ROLE_ADMIN" %}
                                            Administrateur
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <img class="rounded avatar-xl" src="{{user.photo ? vich_uploader_asset(user) : asset('image/avatar.png') }}" alt=" {{ user.photo }}">
                                </td>
                                <td>
                                    <a href="{{ path('modifier_utilisateur', {'id': user.id}) }}" class="me-8">
                                        <i class='bx bx-pencil bx-sm text-success'></i>
                                    </a>

                                    {{ include('admin/user/_delete_form.html.twig') }}
                                </td>
                            </tr>

                        {% else %}
                            <tr>
                                <td colspan="3" class="text-center text-danger">Aucun utilisateur enregistré</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        {{include('admin/layouts/footer.html.twig')}}
    </main>
{% endblock %}
