{% extends 'base.html.twig'%}

{% block title 'Details'%}
{% block body%}

    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">{%trans%}Projet Detaillé{%endtrans%}</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="{{ path('app_index') }}">{%trans%}Home{%endtrans%}</a></li>
                        <li> {{ projet.institule }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    {% for categorie in categories %}
{#                                        <img src="{{ (categorie.imageName ? vich_uploader_asset(categorie, 'imageFile') : asset('image/placeholder.png')) }}" alt="{{ categorie.imageName }}" class="thumbnail" height="200" width="200">#}

{#                                        <img src="{{( vich_uploader_asset(categorie, 'imageFile') | imagine_filter('squared_thumbnail_medium'))}}" id="current" alt="{{projet.secteur.imageName}}" width="auto" height="auto">#}
                                        <img src="{{(categorie.imageName ? vich_uploader_asset(categorie, 'imageFile') : asset('image/placeholder.png')) | imagine_filter('squared_thumbnail_medium')}}" id="current" alt="{{projet.secteur.imageName}}" width="auto" height="auto">
                                    {% endfor%}
                                </div>
{#                                <div class="images">#}
{#                                    <img src="assets/images/item-details/image1.jpg" class="img" alt="#">#}
{#                                    <img src="assets/images/item-details/image2.jpg" class="img" alt="#">#}
{#                                    <img src="assets/images/item-details/image3.jpg" class="img" alt="#">#}
{#                                    <img src="assets/images/item-details/image4.jpg" class="img" alt="#">#}
{#                                    <img src="assets/images/item-details/image5.jpg" class="img" alt="#">#}
{#                                </div>#}
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="product-info">
                            <h2 class="title">{{ projet.institule }}</h2>
                            <p class="location">
                                <i class="lni lni-map-marker"></i>
                                {%if projet.arrondissement%}
                                    <a href="javascript:void(0)" class="me-5">{{ projet.arrondissement.ville }}</a>
                                    <a href="javascript:void(0)">{%trans%}Region{%endtrans%} : {{ projet.arrondissement.departement.region.nom }} CMR</a>
                                {%else %}
                                    <a href="javascript:void(0)">{%trans%}Region{%endtrans%} : {{ projet.region.nom }} CMR</a>
                                {%endif%}
                            </p>
                            <span>{%trans%}Estimation du cout{%endtrans%}</span><br>
                            <h3 class="price">

                                {{ projet.couts }} FCFA
                            </h3>
                            <div class="list-info">
                                <h4>{%trans%}Informations{%endtrans%}</h4>
                                <ul>
                                    <li><span> {%trans%}Secteur{%endtrans%}:</span> {{projet.secteur.nomCategorie|trans}}</li>
                                    <li><span>{%trans%}Maturite{%endtrans%}:</span> {{ projet.maturite.nomMaturite }}</li>
                                    {% if projet.statut%}
                                        <li><span>{%trans%}Statut{%endtrans%}:</span> {{ projet.statut.nom }}</li>
                                    {%else%}
                                        <li><span>{%trans%}Statut{%endtrans%}:</span> {%trans%}Indisponible{%endtrans%}</li>
                                    {% endif%}
                                </ul>
                            </div>
                            <div class="contact-info">
                                <ul>
                                    <li>
                                        <a href="tel:+237{{projet.user.phone}}" class="call">
                                            <i class="lni lni-phone-set"></i>
                                            +237 {{projet.user.phone}}
                                            <span>{%trans%}Appeler pour plus d'info{%endtrans%}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailTo:{{projet.user.email}}" class="mail">
                                            <i class="lni lni-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-details-blocks">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-12">

                        <div class="single-block description">
                            <h3>{%trans%}Description{%endtrans%}</h3>
                            <p>
                                {{ projet.objectifs|trans}}
                            </p>
                        </div>

                        <div class="single-block description">
                            <h3>{%trans%}Caractéristique de l'activité{%endtrans%}</h3>
                            <p class="text-start">
                                {{ projet.caracteristique|trans}}
                            </p>
                        </div>

                        <div class="single-block description">
                            <h3>{%trans%}Marché cibles{%endtrans%}</h3>
                            <p class="text-start">
                                {{ projet.marche|trans}}
                            </p>
                        </div>

                        <div class="single-block description">
                            <h3>{%trans%}Supply Chain{%endtrans%}</h3>
                            <p class="text-start">
                                {{ projet.supply|trans}}
                            </p>
                        </div>

                        <div class="single-block description">
                            <h3>{%trans%}Facteurs et atouts géographiques de production{%endtrans%}</h3>
                            <p class="text-start">
                                {{ projet.atouts|trans}}
                            </p>
                        </div>

                        <div class="single-block description">
                            <h3>{%trans%}Position sur le complexe des chaines de valeur ajoutée{%endtrans%}</h3>
                            <p class="text-start">
                                {{ projet.valeurAjouter|trans}}
                            </p>
                        </div>

                        <div class="single-block description">
                            <h3>{%trans%}Eligibilité au bénéfice des appuis et
                                arrangement de l’environnement
                                institutionnel{%endtrans%}
                            </h3>
                            <p class="text-start">
                                {{ projet.eligibilite|trans}}
                            </p>
                        </div>

                        <div class="single-block description">
                            <h3>{%trans%}Impact économique{%endtrans%}</h3>
                            <p class="text-start">
                                {{ projet.resultats|trans}}
                            </p>
                        </div>


                        <div class="single-block tags">
                            <h3>{%trans%}Autres infos{%endtrans%}</h3>
                            <ul>
                                {% if projet.eltsMaturite|length > 0%}
                                    <span class="mb-2">{%trans%}Elements de maturite disponibles{%endtrans%}</span> <br>
                                    {% for elt in projet.eltsMaturite%}
                                        <li><a href="javascript:void(0)">{{ elt.nom|trans }}</a></li>
                                    {% endfor%}
                                {% else%}
                                    <li> <span class="">{%trans%}Aucunes informations pour le moment{%endtrans%}</span></li>
                                {% endif%}
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-5 col-12">
                        <div class="item-details-sidebar">

                            <div class="single-block author">
                                <h3>{%trans%}Publié par{%endtrans%}</h3>
                                <div class="content">
                                    {% for user in users%}
                                        <img src="{{user.photo ? vich_uploader_asset(user, 'image') : asset('image/avatar.png') }}" alt="{{user.firstName}}">
                                        <h4>{{user.firstName}}</h4>
                                        <span>
                                            {% for role in user.roles %}
                                                {% if role == "ROLE_COMMUNALE" %}
                                                   {%trans%} Utilisateur Communale{%endtrans%}
                                                {% elseif role == "ROLE_SUPER_ADMIN" %}
                                                    {%trans%}Super Administrateur{%endtrans%}
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    {% endfor%}
                                </div>
                            </div>

                            <div class="single-block ">
                                <h3>{%trans%}Location{%endtrans%}</h3>
                                <div class="mapouter">
                                    <div class="gmap_canvas"><iframe width="100%" height="300" id="gmap_canvas" src="{{ mapUrl }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://putlocker-is.org"></a><br>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: right;
                                                height: 300px;
                                                width: 100%;
                                            }
                                        </style><a href="https://www.embedgooglemap.net">google map code for website</a>
                                        <style>
                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none !important;
                                                height: 300px;
                                                width: 100%;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{%endblock%}