{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}

    <!-- Start Hero Area -->
    <section class="hero-area overlay">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-md-12 col-12">
                    <div class="hero-text text-center">
                        <!-- Start Hero Text -->
                        <div class="section-heading">
                            <h2 class="wow fadeInUp" data-wow-delay=".3s">{%trans%}BANQUE DE PROJETS DES COLLECTIVITES <br> TERRITORIALES DECENTRALISEES DU CAMEROUN A BESOIN DE FINANCEMENT{%endtrans%}</h2>
                            <p class="wow fadeInUp" size="14px" data-wow-delay=".5s">
                                {%trans%}La Banque des Projets est un outil interactif permettant l’accès à l’information sur les projets des Collectivités
                                    Territoriales Décentralisées (CTD) de l’Etat du Cameroun. Elle traduit l’engagement du Gouvernement à
                                    faire du développement local, un développement inclusif, qui admet la participation et la contribution de tous
                                    au développement d’une CTD, dans une perspective citoyenne..{%endtrans%} <br>
                                {%trans%} Application bilingue, son objectif est d’avoir une plateforme nourrie des projets des CTD à recherche de financements en faisant ressortir leur niveau de maturation. {%endtrans%}
                                <br>
                            </p>
                        </div>
                        <!-- End Hero Text -->

                        <!-- Start Search Form -->
                        {{ form_start(form)}}
                        <div class="search-form wow fadeInUp" data-wow-delay=".7s">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12 p-0">
                                    <div class="search-input">
                                        <label for="keyword"><i class="lni lni-search-alt theme-color"></i></label>
                                        {#                                        <input type="text" name="keyword" id="keyword" placeholder="Mot clé">#}
                                        {{form_widget(form.mot)}}
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
                                        {{form_widget(form.maturites)}}
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12 p-0">
                                    <div class="search-input">
                                        <label for="category"><i class="lni lni-grid-alt theme-color"></i></label>
                                        {{form_widget(form.categories, { 'id': 'location' })}}
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-12 p-0">
                                    <div class="search-btn button">
                                        <button class="btn"><i class="lni lni-search-alt"></i>{%trans%} Chercher {%endtrans%}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(form)}}
                        <!-- End Search Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Categories Area -->
    <section class="categories">
        <div class="container">
            <div class="cat-inner">
                <div class="row">
                    <div class="col-12 p-0">
                        <div class="category-slider">
                            {% for categorie in categories%}
                                <!-- Start Single Category -->
                                <a href="{{ path('app_category_detail', {'id':categorie.id}) }}" class="single-cat">
                                    <div class="icon">
                                        <img src="{{ vich_uploader_asset(categorie, 'iconeFile') }}" alt="{{ categorie.iconeName }}">

                                    </div>
                                    <h3>{{ categorie.nomCategorie}}</h3>
                                    <h5 class="total">{{ categorie.projet | length }}</h5>
                                </a>
                                <!-- End Single Category -->
                            {% endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /End Categories Area -->

    <!-- Start Items Grid Area -->
    <section class="items-grid section custom-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">{%trans%}Recents Projets{%endtrans%}</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">{%trans%}Recents projets de developpement repertoriés du territoire camerounais.{%endtrans%}</p>
                    </div>
                </div>
            </div>
            {% if projets|length > 0%}
                {% for row in projets|batch(9)%}
                    <div class="single-head">
                        <div class="row">
                            {% for projet in row%}
                                <div class="col-lg-4 col-md-6 col-12">
                                    <!-- Start Single Grid -->
                                    <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                                        <div class="content">
                                            <div class="top-content">
                                                <a href="{{ path('app_category_detail', {'id':projet.secteur.id}) }}" class="tag">{{ projet.secteur.nomCategorie }}</a>
                                                <h3 class="title">
                                                    <a href="{{ path('app_project_detail', {'id':projet.id}) }}">{{ projet.institule }}</a>
                                                </h3>
                                                <ul class="info-list">
                                                    {% if projet.arrondissement%}
                                                        <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> {{ projet.arrondissement.ville}}</a></li>
                                                        <li><a href="javascript:void(0)"> {%trans%}Region {%endtrans%}: {{projet.arrondissement.departement.region.nom}} CMR</a></li>
                                                    {%else%}
                                                        <li><a href="javascript:void(0)"> Projet régionale de:</a></li>
                                                        <li><a href="javascript:void(0)"> <i class="lni lni-map-marker"></i> {{projet.region.nom}} CMR</a></li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="bottom-content">
                                                <p class="price">{%trans%}Estimation du cout: {%endtrans%}<span>{{ projet.couts }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Grid -->
                                </div>
                            {% endfor%}

                            {#                            <div class="row">#}
                            {#                                <div class="col-12">#}
                            {#                                    <div class="pagination right">#}
                            {#                                        <ul class="pagination-list">#}
                            {#                                            {{ knp_pagination_render(projets) }}#}
                            {#                                        </ul>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                        </div>
                    </div>
                {% endfor%}
            {% else%}
                <span class="text-center text-danger"> {%trans%}Aucun projet repertorié{%endtrans%}</span>
            {% endif %}
        </div>
    </section>
    <!-- /End Items Grid Area -->

    <!-- Start How Works Area -->
    <section class="how-works section" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">{%trans%}Comment proceder {%endtrans%}</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s"> {%trans%}Très facile et pratique, en 4 étapes.{%endtrans%}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Start Single Work -->
                    <div class="single-work wow fadeInUp" data-wow-delay=".2s">
                        <span class="serial">01</span>
                        <h3>{%trans%}Visualiser les projets{%endtrans%}</h3>
                        <p> {%trans%}Acceder à la rubrique projet du site pour visualiser la liste de tous les projets.{%endtrans%}</p>
                    </div>
                    <!-- End Single Work -->
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Start Single Work -->
                    <div class="single-work wow fadeInUp" data-wow-delay=".4s">
                        <span class="serial">02</span>
                        <h3>{%trans%}Choisir le secteur d'activité{%endtrans%}</h3>
                        <p>{%trans%}Selectionner le secteur d'activité souhaité.{%endtrans%}</p>
                    </div>
                    <!-- End Single Work -->
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Start Single Work -->
                    <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                        <span class="serial">03</span>
                        <h3>{%trans%}Définir la maturité du projet{%endtrans%}</h3>
                        <p>{%trans%} Définir la maturité du projet sur lequel vous souhaitez avoir des informations{%endtrans%}</p>
                    </div>
                    <!-- End Single Work -->
                </div>
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Start Single Work -->
                    <div class="single-work wow fadeInUp" data-wow-delay=".6s">
                        <span class="serial">04</span>
                        <h3>{%trans%}Acceder à un projet{%endtrans%}</h3>
                        <p>{%trans%} Cliquer sur un projet pour pouvoir avoir les informations relatives à ce dernier{%endtrans%}</p>

                    </div>
                    <!-- End Single Work -->
                </div>
            </div>
        </div>
    </section>
    <!-- End How Works Area -->

    <!-- Start How Works Area -->
    <section class="how-works section" style="background-color: #fff;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">{%trans%}Carte de Projet{%endtrans%} </h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s"> {%trans%}Statistique de la repartition géographique des projets par region.{%endtrans%}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="root-carte-project"></div>
            </div>
        </div>
    </section>
    <!-- End How Works Area -->

{% endblock %}
