{% extends 'base.html.twig' %}

{% block title 'Liste de projets' %}

{% block body %}

    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">{%trans%}Projets{%endtrans%}</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="{{ path('app_index') }}">{%trans%}Accueil{%endtrans%}</a></li>
                        <li>{%trans%}Liste des projets{%endtrans%}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <section class="category-page section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                    <div class="category-sidebar">
                        <div class="single-widget search">
                            <h3>{%trans%}Rechercher{%endtrans%}</h3>
                            <form action="#">
                                <input type="text" placeholder="Rechercher Ici...">
                                <button type="submit"><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div>

                        <div class="single-widget">
                            <h3>{%trans%}Toutes les categories{%endtrans%}</h3>
                            <ul class="list" id="cat-filter">
                                {% if categories|length > 0%}
                                    {% for categorie in categories%}
                                        <li>
                                            <a href="javascript:void(0)"> {{categorie.nomCategorie}}<span>{{ categorie.projet | length }}</span></a>
                                        </li>
                                    {% endfor%}
                                {% endif%}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-4 col-12">
                    <div class="category-grid-list">
                        <div class="row">
                            <div class="col-12">
                                <div class="category-grid-topbar mb-4">
                                    {% if statuts|length > 0%}
                                        <h3 class="ml-3 mt-3" style=" margin-left: 45px; font-size: 18px; font-weight: 600; display: block;">{%trans%}Maturité du projet{%endtrans%}</h3>
                                        <nav class="list-nav1 ">
                                            <ul>
                                                {% for maturite in maturites%}
                                                    <li class="active m-3"><a href="javascript:void(0)">{{ maturite.nomMaturite|trans }} <span>{{maturite.projet |length}}</span></a></li>
                                                {% endfor%}
                                            </ul>
                                        </nav>
                                    {% endif%}
                                </div>
                                <div class="category-grid-topbar">
                                    <div class="row align-items-center">
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <h3 class="title">Showing 1-12 of 21 ads found</h3>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-12">
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <button class="nav-link active" id="nav-grid-tab" data-bs-toggle="tab" data-bs-target="#nav-grid" type="button" role="tab" aria-controls="nav-grid" aria-selected="true"><i class="lni lni-grid-alt"></i></button>
                                                    <button class="nav-link" id="nav-list-tab" data-bs-toggle="tab" data-bs-target="#nav-list" type="button" role="tab" aria-controls="nav-list" aria-selected="false"><i class="lni lni-list"></i></button>
                                                </div>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                {% if projets|length > 0%}
                                    <div class="tab-content" id="nav-tabContent">
                                        {% for row in projets|batch(6)%}
                                            <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                                                <div class="row">
                                                    {% for projet in row%}
                                                        <div class="col-lg-6 col-md-6 col-12">
                                                            <div class="single-item-grid">
                                                                <div class="content">
                                                                    <a href="javascript:void(0)" class="tag">
                                                                        {{ projet.secteur.nomCategorie|trans }}
                                                                    </a>
                                                                    <h3 class="title">
                                                                        <a href="{{ path('app_project_detail', {'id':projet.id}) }}">{{ projet.institule|trans }}</a>
                                                                    </h3>
                                                                    <p class="location">
                                                                        <a href="javascript:void(0)">
                                                                            <i class="lni lni-map-marker"></i>
                                                                            {{projet.arrondissement.ville|trans}}
                                                                        </a>
                                                                    </p>
                                                                    <ul class="info">
                                                                        <span>{%trans%}Estimation du cout{%endtrans%}</span><br>
                                                                        <li class="price">{{ projet.couts }} FCFA</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="row">
                                                        <div class="col-12">
                                                            <div class="pagination left">
                                                                <ul class="pagination-list">
                                                                    {{ knp_pagination_render(projets) }}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                                                <div class="row">
                                                    {% for projet in row%}
                                                        <div class="col-lg-12 col-md-12 col-12">
                                                            <div class="single-item-grid">
                                                                <div class="row align-items-center">
                                                                    <div class="col-lg-12 col-md-5 col-12">
                                                                        <div class="content">
                                                                            <a href="javascript:void(0)" class="tag">{{ projet.secteur.nomCategorie|trans }}</a>
                                                                            <div class="d-inline-flex justify-content-between">
                                                                                <h3 class="title me-5">
                                                                                    <a href=" {{ path('app_project_detail', {'id':projet.id}) }} ">{{projet.institule|trans}}</a>
                                                                                </h3>
                                                                                <p class="location me-5">
                                                                                    <a href="javascript:void(0)">
                                                                                        <i class="lni lni-map-marker"></i>
                                                                                        {{projet.arrondissement.ville|trans}}
                                                                                    </a>
                                                                                </p>
                                                                                <p class="location me-5">
                                                                                    <a href="javascript:void(0)">
                                                                                        <i class="lni lni-map-marker"></i>
                                                                                        {{projet.arrondissement.departement.region.nom|trans}}
                                                                                    </a>
                                                                                </p>
                                                                                <ul class="info">
                                                                                    <span>{%trans%}Estimation du cout{%endtrans%}</span>
                                                                                    <li class="price">{{ projet.couts }} FCFA</li>
                                                                                </ul>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="pagination left">
                                                            <ul class="pagination-list">
                                                                {{ knp_pagination_render(projets) }}
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        {%endfor%}
                                    </div>
                                {% else%}
                                    <span class="text-danger text-center">Aucun projet disponible pour le moment</span>
                                {% endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{%block javascripts%}
    <script src="{{asset('client/assets/js/filter.js')}}"></script>
{% endblock%}
