{% extends 'base.html.twig' %}

{% block title 'Projets|category' %}

{% block body %}

    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">{%trans%}Résultat de la recherche{%endtrans%}</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li> {{ projetSearchCount }} {%trans%}Projets trouvés{%endtrans%}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Items Grid Area -->
    <section class="items-grid section custom-padding" style="padding-top: 100px">
        <div class="container">

            {% if projetSearch|length > 0%}
                <div class="single-head">
                <div class="row">
                    {% for projet in projetSearch%}
                            <div class="col-lg-4 col-md-6 col-12">
                                <!-- Start Single Grid -->
                                <div class="single-grid wow fadeInUp" data-wow-delay=".2s">
                                    <div class="content">
                                        <div class="top-content">
                                            <a href="javascript:void(0)" class="tag">{{ projet.secteur.nomCategorie|trans }}</a>
                                            <h3 class="title">
                                                <a href="{{ path('app_project_detail', {'id':projet.id}) }}">{{ projet.institule|trans }}</a>
                                            </h3>
                                            <ul class="info-list">
                                                <li><a href="javascript:void(0)"><i class="lni lni-map-marker"></i> {{ projet.arrondissement.ville|trans}}</a></li>
                                                <li><a href="javascript:void(0)"> {%trans%}Region{%endtrans%} : {{projet.arrondissement.departement.region.nom|trans}} CMR</a></li>
                                            </ul>
                                        </div>
                                        <div class="bottom-content">
                                            <p class="price">{%trans%}Estimation du cout{%endtrans%}: <span>{{ projet.couts }} FCFA</span></p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Grid -->
                            </div>
                    {% endfor%}
                        </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pagination left">
                            <ul class="pagination-list">
                                {{ knp_pagination_render(projetSearch) }}
                            </ul>
                        </div>

                    </div>
                </div>

            {% else%}
                <span class="text-center text-danger"> {%trans%}Aucun élément trouvé{%endtrans%}</span>
            {% endif %}
        </div>
    </section>
    <!-- /End Items Grid Area -->

{% endblock %}
