<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />
        <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.45.0/maps/maps.css'>
        <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.45.0/maps/css-styles/routing.css'/>
        <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.45.0/maps/css-styles/poi.css'/>
        <link rel='stylesheet' type='text/css' href='https://api.tomtom.com/maps-sdk-for-web/cdn/5.x/5.45.0/maps/css-styles/traffic-incidents.css'/>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
{#        {% block stylesheets %}#}
{#            {{ encore_entry_link_tags('app') }}#}
{#        {% endblock %}#}

{#        {% block javascripts %}#}
{#            {{ encore_entry_script_tags('app') }}#}
{#        {% endblock %}#}

        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">

        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
        <!-- Web Font -->
        <link
                href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
                rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

        <!-- ========================= CSS here ========================= -->
        <link rel="stylesheet" href="{{ asset('client/assets/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{asset('client/assets/css/LineIcons.2.0.css')}}" />
        <link rel="stylesheet" href="{{ asset('client/assets/css/animate.css') }}" />
        <link rel="stylesheet" href="{{ asset('client/assets/css/tiny-slider.css') }}" />
        <link rel="stylesheet" href="{{asset('client/assets/css/glightbox.min.css')}}" />
        <link rel="stylesheet" href="{{asset('client/assets/css/main.css')}}" />

    </head>
    <body>

    <!-- Preloader -->
        <div class="preloader">
            <div class="preloader-inner">
                <div class="preloader-icon">
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <!-- /End Preloader -->

        <!-- Start Header Area -->
        <header class="header navbar-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="nav-inner">
                            <nav class="navbar navbar-expand-lg">
                                <a class="navbar-brand" href="{{ path('app_index') }}">
                                    <img src="{{asset('client/assets/images/logo/logo.svg')}}" alt="Logo">
                                </a>
                                <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                    <span class="toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                    <ul id="nav" class="navbar-nav ms-auto">
                                        <li class="nav-item">
                                            <a class=" {{ app.request.attributes.get('_route') == 'app_index' ? 'active' : '' }} dd-menu collapsed" href="{{ path('app_index')}}">Accueil</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="{{ app.request.attributes.get('_route') == 'app_project_list' ? 'active' : '' }}" href="{{ path('app_project_list') }}">Projets</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="{{ (app.request.attributes.get('_route') == 'app_project_category' or app.request.attributes.get('_route') =='app_category_detail') ? 'active' : '' }} dd-menu collapsed" href="{{ path('app_project_category') }}">Categories</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="{{ app.request.attributes.get('_route') == 'app_carte' ? 'active' : '' }} dd-menu collapsed" href="{{ path('app_project_map') }}">Carte projet</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class=" dd-menu collapsed" href="javascript:void(0)"
                                               data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                               aria-controls="navbarSupportedContent" aria-expanded="false"
                                               aria-label="Toggle navigation" >A propos</a>
                                            <ul class="sub-menu collapse" id="submenu-1-5">
                                                <li class="nav-item"><a href="javascript:void(0)">Qui sommes nous?</a>
                                                </li>
                                                <li class="nav-item"><a href="javascript:void(0)">Contact</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div> <!-- navbar collapse -->
                                {% if app.user%}
                                    {% if is_granted('ROLE_ADMIN')%}
                                        <div class="login-button">
                                            <ul>
                                                <li>
                                                    <a href="{{ path('admin') }}"><i class="lni lni-dashboard"></i> Dashboard</a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('app_logout') }}"><i class="lni lni-enter"></i> Logout</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="button header-button">
                                            <a href="{{path('app_projects_create')}}" class="btn">Ajouter un projet</a>
                                        </div>
                                    {% else %}
                                        <div class="login-button">
                                            <ul>
                                                <li>
                                                    <a href="{{ path('app_logout') }}"><i class="lni lni-enter"></i> Logout</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><i class="lni lni-user"></i>
                                                        {{ app.user.email }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                    {% endif%}
                                {% else%}
                                <div class="login-button">
                                    <ul>
                                        <li>
                                            <a href="{{ path('login') }}"><i class="lni lni-enter"></i> Login</a>
                                        </li>
                                        <li>
                                            <a href="{{path('app_register')}}"><i class="lni lni-user"></i> Register</a>
                                        </li>
                                    </ul>
                                </div>
                                {% endif%}
                            </nav> <!-- navbar -->
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </header>
        <!-- End Header Area -->
        {% block body %}{% endblock %}

        <!-- Start Footer Area -->
        <footer class="footer">
            <!-- Start Footer Top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer mobile-app">
                                <h3>Centre de Données du <br> Ministère de la Décentralisation et du Développement Local</h3>
                                <div class="app-button">
                                    <a href=" https://www.google.com/maps/search/lonkak+yaounde+sous+prefecture/@3.8789854,11.5087975,15z" class="btn">
                                        <i><img src="{{ asset('client/assets/images/logo/logo1.svg')}}" alt=""></i>
                                        <span class="text">
                                        <span class="small-text">DATA CENTER</span>
                                        MINDDEVEL
                                    </span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Travaillez Avec Nous</h3>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-12">
                                        <ul>
                                            <li><a href=" https://www.minddevel.gov.cm/index.php/marches/">Consultez nos marchés</a></li>
                                            <li><a href="javascript:void(0)">Appel d'offres et conditions générales</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Liens Rapides</h3>
                                <ul>
                                    <li><a href="javascript:void(0)">A Propos</a></li>
                                    <li><a href="{{ path('login') }}">Connexion</a></li>
                                    <li><a href="{{  path('app_register') }}">S'inscrire</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Contact</h3>
                                <ul>
                                    <li class="text-white">Carrefour Nlongkak<br> Yaoundé, CAMEROUN</li>
                                    <li class="text-white"><a href="tel:(+237) 222 213 99"> Téléphone : (+237) 222 213 992</a> </li>
                                    <li><a href="mailto:contact@minddevel.gov.cm" class="text-decoration-none ">Email : contact@minddevel.gov.cm</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
            <!--/ End Footer Middle -->
            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="inner">
                        <div class="row">
                            <div class="col-12">
                                <div class="content">
                                    <p class="copyright-text">Designé et Developpé par
                                        <a href="https://www.minddevel.gov.cm" rel="nofollow" target="_blank">MINDDEVEL</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Middle -->
        </footer>
        <!--/ End Footer Area -->

        <!-- ========================= scroll-top ========================= -->
        <a href="#" class="scroll-top btn-hover">
            <i class="lni lni-chevron-up"></i>
        </a>


        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Flashy depends on jQuery -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Load Flashy default JavaScript -->
        <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        <!-- Include Flashy default partial -->
        {{ include('@MercurySeriesFlashy/flashy.html.twig') }}

        <!-- ========================= JS here ========================= -->
        <script src="{{ asset('client/assets/js/bootstrap.min.js') }}"></script>
        <script src="{{asset('client/assets/js/wow.min.js')}}"></script>
        <script src="{{asset('client/assets/js/tiny-slider.js')}}"></script>
        <script src="{{asset('client/assets/js/glightbox.min.js')}}"></script>
        <script src="{{asset('client/assets/js/main.js')}}"></script>
        <script type="text/javascript">
            //========= Category Slider
            tns({
                container: '.category-slider',
                items: 3,
                slideBy: 'page',
                autoplay: false,
                mouseDrag: true,
                gutter: 0,
                nav: false,
                controls: true,
                controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
                responsive: {
                    0: {
                        items: 1,
                    },
                    540: {
                        items: 2,
                    },
                    768: {
                        items: 4,
                    },
                    992: {
                        items: 5,
                    },
                    1170: {
                        items: 6,
                    }
                }
            });
        </script>
    </body>
</html>
