<div class="col-lg-12 col-xl-12 ">
    <div class="card card-body border-0 shadow mb-4">
        {{ form_start(form, {'enctype':'multipart/form-data'}) }}
        <div class="row">
            <div class="col-md-4 mb-3">
                <div>
                    <label for="first_name">{%trans%}Nom de la catégorie{%endtrans%}</label>
                    {{ form_widget(form.nom_categorie|trans) }}
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div>
                    <label for="first_name">{%trans%}Image{%endtrans%}</label>
                    {{ form_widget(form.imageFile) }}
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div>
                    <label for="first_name">{%trans%}Icone{%endtrans%}</label>
                    {{ form_widget(form.iconeFile) }}
                </div>
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-gray-800 mt-2 me-5 animate-up-2" type="submit">
                <i class='bx bx-save me-1'></i>
                {{ button_label|default|trans('Enregistrer') }}
            </button>
            <a href="{{ path('app_categorie_index') }} " class="btn btn-gray-800 mt-2 animate-up-2">
                <i class='bx bx-arrow-back me-1'></i> {%trans%}Retour à la liste{%endtrans%}
            </a>
        </div>
        {{ form_end(form) }}
    </div>
</div>

