{% extends 'base.html.twig' %}

{% block title 'Categorie' %}

{% block body %}
    <h1>{%trans%}Categorie{%endtrans%}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td> {{ categorie.id }} </td>
            </tr>
            <tr>
                <th>Nom_categorie</th>
                <td>{{ categorie.nomCategorie|trans }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>
                    <img src="{{ vich_uploader_asset(categorie) | imagine_filter('squared_thumbnail_small') }}" alt="{{ categorie.nomCategorie }}" width="50" height="50">
                </td>
            </tr>
            <tr>
                <th>Icone</th>
                <td>
                    <img src="{{ vich_uploader_asset(categorie, 'iconeFile') | imagine_filter('squared_thumbnail_small') }}" alt="{{ categorie.iconeName }}" width="50" height="50">
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categorie_index') }}">{%trans%}Retour à la liste{%endtrans%}</a>

    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}">{%trans%}Modifier{%endtrans%}</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
